:root {
            --primary-color: #2e9d46;
            --secondary-color: #f5faa7;
            --accent-color: rgba(255, 0, 174, 0.333);
            --secondary-font-color: rgba(255, 0, 174, 0.333); 
            --border-radius: 30px; 
            --box-shadow: 20px 10px 5px rgba(202, 159, 17, 0.342), 10px 7px 10px inset rgba(244, 250, 167, 0.443);
            --header-height: 10vh;
        }
        p::first-line {
            font-size: 2.1em;
            font-weight: bold;
            color: var(--font-color);
            margin: 2px;
        }

        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
        body, html {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }
        @keyframes bounceIn {
                0% { transform: scale(0.5); opacity: 0; }
                50% { transform: scale(1.1); opacity: 1;}
                100% { transform: scale(1); opacity: 1;}
            }
        @keyframes hover {
            0% { transform: translate(0, 0) }
            50% { transform: translate(0, 5px) }
            100% { transform: translate(0, 0) }
        }
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 5vw 0 5vw;
        }
        .box {
            padding: 20px;
            background-color: rgba(46, 157, 70, 0.491);
            /*background: linear-gradient(to bottom, rgba(101, 194, 121, 0.491), rgba(66, 62, 147, 0.395));*/
            border: 1px solid rgba(245, 250, 167, 0.47);
            transition: background-color 0.3s ease;
            animation: bounceIn 1.5s ease;
            opacity: 0;
            animation-fill-mode: forwards;
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius);
        }
        #portfolio-box1 { animation-delay: 0s; }
        #portfolio-box3 { animation-delay: 0.2s; }
        #portfolio-box2 { animation-delay: 0.4s; }

        #box2 { animation-delay: 0s; }
        #box3 { animation-delay: 0.2s; }
        #box4 { animation-delay: 0.4s; }

        #header {
            top: 0;
            left: 0;
            width: 100%;
            border: 2px rgba(0, 0, 0, 0.08) solid;
            position: sticky;
            height: var(--header-height);
            box-shadow: 0 10px 10px inset rgba(255, 0, 174, 0.279);
            text-align: center;
            color: rgba(211, 61, 163, 0.676);
            font-size: 4vw;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;
            margin: 0px 0px 20px 0px;
        }
        .footer {
            position: relative;
            width: 100%;
            height: 10vh;
            background-color: rgba(202, 159, 17, 0.342);
            text-align: center;
            line-height: 10vh;
            font-size: 1em;
            color: rgba(109, 69, 26, 0.685);
        }
        #footer p {
            margin: 0;
            padding: 0;
            color: var(--secondary-font-color);
        }
        #box2 {
            height: min-content;
            font-size: 1.5em;
            margin-right: 0;
            flex-basis: 75%;
            /*overflow: auto;/* Allows scrolling if content overflows */
        }
        #box4 {
            width: min-content;
            flex-basis: 25%;
            flex-direction: row;
            margin-top: 10%;
            p::first-line {
                font-size: 1.3em;
                color: #333;
            }
        }
        .latest-work-image {
            width: 500px;
            height: auto;
        }
        #box3 {
            background-color: rgba(46, 157, 70, 0);
            border: 1px solid rgba(244, 250, 167, 0);
            transition: background-color 0.3s ease;
            animation: bounceIn 1.5s ease;
            opacity: 0;
            animation-fill-mode: forwards;
            box-shadow: rgba(151, 93, 93, 0) 0 0 10px;
            border-radius: rgba(0, 0, 0, 0);
            flex-basis: 10%;
            margin-left: -5vw;
        }
        .body {
            background-color: rgba(46, 157, 70, 0.589);
        }
        body {
            background-color: #ffe89b;
            font-family: 'Roboto', sans-serif;
            overflow-x: hidden;
            overflow-y: auto;
        }
        .box:hover {
            background-color: rgba(46, 157, 70, 0.8);
        }
        #contact-box {
            margin: 20px auto;
            padding: 20px;
            min-width: 50vw;
            width: fit-content;
            height: fit-content;
            color: #333;
            font-family: 'Roboto', sans-serif;
            box-shadow: 20px 10px 5px rgba(202, 159, 17, 0.342), 10px 7px 10px inset rgba(244, 250, 167, 0.443);
        }
        #intro {
            margin-top: -10px;
            padding: 0;
            color: #333;
        }
        #beetle-image {
            margin-right: 2%;
        }
        .page-selector {
            margin-top: 15px;
            transition: background-color 1s ease;
            height: 10vh;
            padding-top: 10vh;
        }
        .page-selector:hover {
            color: rgba(132, 17, 111, 0.8);
            font-weight: bolder;
            text-decoration-color: rgba(95, 7, 110, 0.8);
        }
        .page-links {
            display: flex;
            align-items: center;
            margin: 0px 25px;
            font-size: .9em;
            transition: background-color 1s ease;
        }
        .btn {
            font-size: 1.5em;
            padding: 10px 20px;
            background-color: rgba(95, 7, 110, 0.8);
            color: rgba(255, 255, 255, 0.562);
            border: none;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
            animation: hover 3s ease infinite;
        }
        .intro-btn {
            margin: 0 auto;
            position: absolute;
            display: inline-block;
            top: 44%;
        }
        .btn:hover {
            background-color: rgba(95, 7, 110, 0.9);
            color: rgba(255, 255, 255, 0.8);
            animation: hover 1s ease;
            text-shadow: #333 4px 4px 6px;
        }
        .intro-video {
            width: 20vw;
            margin: 0 auto;
            display: block;
        }
        .portfolio-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            margin: 0 5vw 0 5vw;
            gap: 30px;
        }
        .portfolio-video {
            max-width: 40vw;
            border: 2px solid #333;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .video-caption {
            max-width: 40vw;
            text-align: center;
            padding: 20px;
            font-family: "Roboto", sans-serif;
        }
        #portfolio-box1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            height: min-content;
        }
        #portfolio-box2 {
            margin-top: -20%;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            height: min-content;
        }
        #portfolio-box3 {
            grid-column: 2 / 3;
            grid-row: 1 / 4;
            text-align: center;
            width: 40vw;
            height: fit-content;
        }
        .webdesign-shots {
            width: 40vw;
        }
        .animated-gif {
            position: absolute;
            margin-top: -150px;
        }
        .blog-container {
            background: linear-gradient(to bottom, rgba(202, 97, 17, 0.342), rgba(214, 75, 75, 0.438));
            color: white;
            margin: 1% 10% 10% 10%;
            border-radius: 10px;
            p::first-line {
                font-size: 1.5em;
            }
        }
        #engagement-article-1 {
            width: 40%;
        }
        #engagement-article-2 {
            float: right;
            margin: -120px 0 0 510px;
            padding-right: 50px;
        }
        #engagement-article-3 {
            margin-top: -73px;
        }
        .blog-post {
            margin: 3% 10% 0 3%;
            padding: 30px 10px;
        }
        #heart-blog-title {
            margin-left: 5px;
            margin-bottom: -50px;
        }
        #heart-image {
            float: right;
            margin-top: -450px;
            margin-right: 10%;
        }
        #small-heart-image {
            visibility: hidden;
            width: 0;
        }
        #small-heart-caption {
            visibility: hidden;
        }
        #heart-caption {
            float: right;
            margin: -127px 130px 0 0;
            font-size: .7em;
            color: rgb(5, 5, 5);
        }
        .about-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 5vw;
        }
        .about-box {
            padding: 20px;
            background-color: rgba(46, 157, 70, 0.491);
            border: 1px solid rgba(245, 250, 167, 0.47);
            transition: background-color 0.3s ease;
            animation: bounceIn 1.5s ease;
            opacity: 0;
            animation-fill-mode: forwards;
            box-shadow: var(--box-shadow);
            border-radius: var(--border-radius);
            width: 30vw;
            height: min-content;
            overflow-y: auto;
        }
        .about-picture {
            min-height: 50vh;
            margin-left: 0;
        }
        @media screen and (max-width: 1100px) {
            p::first-line {
                font-size: 2.3em;
                font-weight: bold;
                color: var(--font-color);
                margin: 2px;
            }   
            #box4 {
                width: min-content;
                flex-basis: 100%;
                flex-direction: row;
                p::first-line {
                    font-size: 1.3em;
                    color: #333;
                }
            }
            #box3 {
                display: none;
            }
            #box2 {
                flex-basis: 100%;
                font-size: 1.7em;
            }
            #heart-blog-title {
                margin: 10px;
            }
            #engagement-article-1 {
                width: auto;
            }
            #engagement-article-2 {
                float: none;
                margin: 0% 10% 0 3%;
                padding: 0px 10px 20px 10px;
                margin-top: -44px;
            }
            #heart-blog-title {
                margin: 5px;
            }
            #heart-image {
                visibility: hidden;
            }
            #heart-caption {
                visibility: hidden;
            }
            #small-heart-image {
                visibility: visible;
                width: 50vw;
                min-width: 300px;
            }
            #small-heart-caption {
                visibility: visible;
            }
            .intro-btn {
                visibility: hidden;
            }
            .about-box {
                max-height: 50vh;
                min-width: 60%;
            }
            .about-picture {
                max-height: 40vh;
                margin-left: -60vw;
            }
            #engagement-article-1 {
                width: auto;
            }
            #engagement-article-2 {
                float: none;
                margin: 0% 10% 0 3%;
                padding: 0px 10px 20px 10px;
                margin-top: -44px;
            }
            .about-container {
                flex-direction: column;
            }
            .portfolio-container {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column-reverse;
                justify-content: space-between;
            }
            #portfolio-box1 {
                height: min-content;
                width: 80vw;
            }
            #portfolio-box2 {
                margin-top: 0px; /*because with grid i had to adjust margin for fullsize*/
                width: 80vw;
                height: min-content;
            }
            #portfolio-box3 {
                text-align: center;
                width: 85vw;
                height: fit-content;
            }
            .portfolio-video {
                max-width: 80vw;
            }
            .video-caption {
                max-width: 80vw;
            }
            .webdesign-shots {
                width: 85vw;
                height: auto;
                margin: 5px;
            }
        }
        